<!--this is used to display the main page, but it is located or is within
    the app.component.html-->

<div class="bkgd">
    <div class="center_div">
        <div class="rows">
            <div class="container" *ngFor="let picture of pictures; index as i">
                <img class="pic" *ngIf="i < firstAmount()" src= {{picture.image}}>
                <div class="overlay">
                    <div class="link">
                        <a href={{picture.site}} target="_blank" style="text-decoration: none;">Go to Site</a>
                    </div>
                </div>
            </div> 
        </div>
        
        <div class="rows">
            <div class="container" *ngFor="let picture of pictures; index as i">
                <img class="pic" *ngIf="i >= firstAmount() && i < secondAmount(firstAmount())" src = {{picture.image}}>
                <div class="overlay">
                    <div class="link">
                        <a href={{picture.site}} target="_blank" style="text-decoration: none;">Go to Site</a>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="rows">
            <div class="container" *ngFor="let picture of pictures;index as i">
                <img class="pic" *ngIf="i >= secondAmount(firstAmount())" src= {{picture.image}}>
                <div class="overlay">
                    <div class="link">
                        <a href={{picture.site}} target="_blank" style="text-decoration: none;">Go to Site</a>
                    </div>
                </div>
            </div>
        </div>




    </div>
    <footer>
        <div>
            © 2022 by Keila Cressman
        </div>
    </footer>
</div>