<!--this is used to display the main page, but it is located or is within
    the app.component.html-->
<div class="bkgd">
    <div class="center_div">
        <div class="rows">
            <div class="container">
                <img class="pic" src="./assets/paintings/apple.jpg">
                <div class="overlay">
                    <div class="link">
                        <a href="https://google.com" target="_blnak">Go to Site</a>
                    </div>
                </div>
            </div>
            <div class="container">
                <img class="pic" src="./assets/paintings/coffee.jpg">
                <div class="overlay">
                    <div class="link">
                        <a href="https://w3schools.com" target="_blnak">Go to Site</a>
                    </div>
                </div>
            </div>
            
        </div>
        
        <div class="rows">
            <img class="pic" src="./assets/paintings/cheese.jpg">
            <img class="pic" src="./assets/paintings/dragonfly.jpg">
        </div>
        <div class="rows">
            <img class="pic" src="./assets/paintings/face.jpg">
            <img class="pic" src="./assets/paintings/empty_vessel.jpg">
        </div>




    </div>
    <footer>
        <div>
            © 2022 by Keila Cressman
        </div>
    </footer>
</div>