.bkgd {
    background-color: rgb(235, 227, 201) ;
    position: absolute;
    height:100%;
    width:100%;
}

.center_div {
    background-color:blue;
    width: auto;
    height:auto;
    margin-left: auto;
    margin-right: auto;
}

@media only screen and (min-width: 1000px) {
    .center_div {
        width: 950px;
    }
}

footer {
    text-align: center;
    height:100px;
    padding: 40px;
}