<div class="bkgd">
    <div class="center_div">
        <a href="mailto:cressmanoriginals@gmail.com">Send email</a>
        <!-- <form method="post" action="subscriberform.php">
            <textarea name="message"></textarea>
            <input type="submit">
        </form>
        <?php
        if($_POST["Message"]) 
        mail("john@johndoe.com", "Here is the sample subject line",
        $_POST["Insert Your Message"]. "From: jane@janedoe.com");?> -->



    </div>
    <footer>
        <div>
            © 2022 by Keila Cressman
        </div>
    </footer>
</div>