<!--this is used to display the banner and links to other social media-->
<div>
    <div>
    <img class="banner" src="./assets/images/banner.png">
    
    <a href="https://instagram.com/cressmanoriginals" class="button" target="_blank">
        <img class="logo_button1" src="./assets/images/ig_logo.jpg">
    </a>
    <a href="https://cressmanoriginals.etsy.com" class="button" target="_blank">
        <img class="logo_button2" src="./assets/images/etsy_logo.jpg">
    </a>
    <a href="https://facebook.com/cressmanoriginals" class="button" target="_blank">
        <img class="logo_button3" src="./assets/images/fb_logo.png">
    </a>
  </div>

</div>



<!--do not delete-->
<div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
</div>