<!--this is used to display the banner and links to other social media-->
<div>
  <div class="top_logos_holder">
    <img class="banner" src="./assets/logo/banner.png">
    
    <a href="https://instagram.com/cressmanoriginals" target="_blank">
        <img class="logo_button1" src="./assets/logo/ig_logo.jpg">
    </a>
    <a href="https://cressmanoriginals.etsy.com" target="_blank">
        <img class="logo_button2" src="./assets/logo/etsy_logo.jpg">
    </a>
    <a href="https://facebook.com/cressmanoriginals" target="_blank">
        <img class="logo_button3" src="./assets/logo/fb_logo.png">
    </a>
  </div>
  <div>
    <nav mat-tab-nav-bar mat-align-tabs="center">
      <a mat-tab-link routerLink="">
        Artwork</a>
       <a mat-tab-link routerLink="contact">
         Contact Me</a>
    </nav>
    
    
  </div>
  
</div>



<!--do not delete-->
<div>
  <div class="container mt-3">
    <router-outlet></router-outlet>
  </div>
  
</div>
