.top_logos_holder {
    position: relative;
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.banner {
    position: relative;
    top : 0;
    left : 0;
    width: 100%;
    height: auto;
    max-height: 250px;
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
}

.logo_button1 {
    position: absolute;
    top : 30px;
    right : 150px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo_button2 {
    position: absolute;
    top: 30px;
    right: 100px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.logo_button3 {
    position: absolute;
    top: 30px;
    right: 50px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

@media only screen and (max-width: 600px) {
    .logo_button1,.logo_button2,.logo_button3 {
        top: 20px;
        height: 30px;
        width: 30px;
    }

    .logo_button1 {
        right : 100px;
    }

    .logo_button2 {
        right: 65px;
    }

    .logo_button3 {
        right: 25px;
    }
}

div {
    background-color: rgb(235, 227, 201)
}

a {
    text-decoration: none;
}
